/*
 * 	Default theme - Owl Carousel CSS File test
 */

$color-base:			#869791;
$color-white:			#FFF;
$color-gray:			#999;
//nav

$nav-color: 			$color-gray;
$nav-color-hover:		#000;
$nav-font-size: 		20px;
$nav-rounded: 			3px;
$nav-margin: 			5px;
$nav-padding: 			4px 7px;
$nav-background: 		$color-white;
$nav-background-hover:	$color-white;
$nav-disabled-opacity: 	0.5;

//dots

$dot-width:				10px;
$dot-height:			10px;
$dot-rounded:			30px;
$dot-margin: 			5px 7px;
$dot-background:		$color-gray;
$dot-background-active:	$color-base;

.owl-theme {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			color: $nav-color;
			font-size: $nav-font-size;
			margin: $nav-margin;
			padding: $nav-padding;
			background: $nav-background;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
            
            font-weight: 700;
            font-family: Open Sans,Arial,helvetica;

			&:hover {
				background: $nav-background-hover;
				color:$nav-color-hover;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: $nav-disabled-opacity;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}
	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: $dot-width;
				height: $dot-height;
				margin: $dot-margin;
				background: $dot-background;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 30px;
			}
            
			&.active,
			&:hover {
				span {
					background: $dot-background-active;
				}
			}
		}
	}
    
    .owl-nav .owl-next {
        display: block;
        position: absolute;
        top: 25%;
        right: -36px;
        transition:all .3s;
    }
    
    .owl-nav .owl-prev {
        display: block;
        position: absolute;
        top: 25%;
        left: -36px;
        transition:all .3s;
    }
    
    .thumb{
        width: 190px;
        height: auto;
        float: left;   
        margin-right: 20px;
    }
    
    .date {
        color:$asco; 
        font-size:rem-calc(15);
    }
    
    .title {    
        font-weight: 700;
        line-height: rem-calc(20);
        padding-bottom: 10px;
    }
    
    .texte {
        font-size: rem-calc(15);;
        line-height: rem-calc(17);
    }
    
    .readmore {
        font-weight: 700;
        padding-top: 20px;
        display: block;
    }
}

.ih-item.actus-home {
    background-color:#FFF;
    padding: 15px 45px 29px 35px;
}

.actus-home h4{
    text-transform: uppercase;
    text-align:center; 
    font-weight:700;
}

/* -------------------------------------------- */
/* OUTIL INDUS                                  */
/* -------------------------------------------- */
.usines h1 {
    color: $asco;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    margin-left: 15px;
}


/* -------------------------------------------- */
/* CARTES INTERACTIVES INTERNATiONAL            */
/* -------------------------------------------- */

.iwm_map_canvas {
    position: absolute !important;
    top: 0 !important;
}



a.maps_button {
    display:block;
    width:250px;
    background-color: #FFF;
    height: auto;
    font-size:rem-calc(16);
    font-weight:600;
    text-transform: uppercase;
    color:#5e5e5e;
    letter-spacing: 1px;
    padding:25px 20px;
    margin-top:50px;
    margin-bottom:50px;
    
    img {
        width:73px;
        height:auto;
        margin-right:10px;
    }
}


#imap1message {
    position: fixed;
    left: 32%;
    top: 50%;
    z-index:50000;
    height: auto;
    font-size: 17px;
    background-color: #FFF;
    width: 450px;
    padding: 25px;

    a.maps_button:hover {
        color:$asco;
    }

    #close-imapmessage {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 17px;
        font-family: arial;
        font-weight: 700;
        color: #5c5c5c;
    }
}


/* -------------------------------------------- */
/* ACCORDEONS                                   */
/* -------------------------------------------- */

.lsow-accordion.style1 .lsow-panel {
    background: transparent !important;
    border-radius: 0px !important;
    border-left: $asco solid 3px !important;
}

.lsow-accordion.style1 .lsow-panel.lsow-active .lsow-panel-title, .lsow-accordion.style1 .lsow-panel:hover .lsow-panel-title, .lsow-accordion.style1 .lsow-panel .lsow-panel-content {
    background: transparent !important;
}


.lsow-accordion.style1 .lsow-panel .lsow-panel-title:after, .lsow-accordion.style3 .lsow-panel .lsow-panel-title:after {
 color :#BDBDBD !important;
}

.lsow-accordion.style1 .lsow-panel .lsow-panel-title {
    font-weight: 600 !important;
    color: #5e5e5e !important;
    text-transform: uppercase !important;
}
/* -------------------------------------------- */
/* ARTICLES / GENERAUX                          */
/* -------------------------------------------- */

.articlepadding {
    padding-top : 50px;
}

.paddingbottom {
    padding-bottom:25px;
}

.rightpadding {
    padding-right:40px;
}

.leftpadding {
    padding-left:30px;
}

.corporate-color {
    color:$asco;
}


.rightcol .textwidget {
    padding-right:45px;
    padding-left:30px;
}

.main-content-large {
    
    h2 {
        color: #5e5e5e;
        text-transform: uppercase;
        font-size: 2.25rem;
        padding-bottom: 15px;
        border-bottom: 2px solid #989898;
        font-weight: 600;
        margin-bottom: .7em;
        margin-left: 30px;
        margin-top: 30px;
    }
    
    section#content {
        margin-left:15px;   
    }
    
}



/* -------------------------------------------- */
/* TABLEAUX                                     */
/* -------------------------------------------- */

.tablepress tfoot th, .tablepress thead th {
    background-color: $automobile !important;
}

/* -------------------------------------------- */
/* FORMULAIRES                                  */
/* -------------------------------------------- */
.form-field-input-standard {
    padding-right:rem-calc(25);
}

textarea.adresse {
    height:197px !important;
}

.form-field-input-standard textarea {
    height:100px;
}

.form-field-input-standard input:focus, .form-field-input-standard textarea:focus { 
    background-color: #E5E7C9;
}

.form-title-section {
    font-size: 28px;
    line-height: 41px;
    border-bottom: solid 2px $asco;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #e52713;
}

input[type=submit].button {
    background-color: $asco;
    width: 100%;
    font-size: 24px;
//    padding: 11px;
}

input[type=submit].button:focus {
    background-color: #E5E7C9;
}

div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    background: #398f14;
    font-size: 25px;
    color: white;
    box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
    position: relative;
    transition: all 0.35s ease-in-out;
}

div.wpcf7-validation-errors {
    border: 2px solid #f7e700;
    background: #f7e700;
    font-size: 25px;
    color: white;
    box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
    position: relative;
    transition: all 0.35s ease-in-out;
}