// Styles propres à ASCOMETAL
/*---------------------------------------------------------------
REGLAGES GLOBAUX / GLOBAL SETTINGS
---------------------------------------------------------------*/

body {
    letter-spacing: 1.4px;
}

// * * * * * * * * * * * * * page.php * * * * * * * * * * * * * 
#page {
    margin-top: 0;
    background: #fff;
    border-top: solid 3px #b5bf1e;
}

// * * * * * * * * * * * * * END page.php * * * * * * * * * * *
/*---------------------------------------------------------------
IMAGE D'ENTETE / HEADER-IMAGE
---------------------------------------------------------------*/

header.header-image {
    position: relative;
    #featured-hero {
        max-width: 1280px;
        max-height: 225px;
        overflow: hidden;
        margin: 0 -15px;
    }
    h1 {
        position: absolute;
        left: 0px;
        top: 70px;
        color: #f9f9f9;
        text-transform: uppercase;
        font-size: rem-calc(57);
        padding-left: 40px;
    }
}
/*---------------------------------------------------------------
CONTENU DE SAISIE / MAIN-CONTAINER
---------------------------------------------------------------*/

#main-container {
    background: #f5f5f5;
    padding: 30px 15px 30px 50px;
    -webkit-box-shadow: inset 14px 0px 30px -10px rgba(143, 143, 143, 0.2);
    -moz-box-shadow: inset 14px 0px 30px -10px rgba(143, 143, 143, 0.2);
    box-shadow: inset 14px 0px 30px -10px rgba(143, 143, 143, 0.2);
    h2 {
        color: #5e5e5e;
        text-transform: uppercase;
        font-size: rem-calc(36);
        padding-bottom: 15px;
        border-bottom: 2px solid #989898;
        font-weight: 600;
        margin-bottom: .7em;
    }
    h4 {
        color: #e52713;
        font-size: rem-calc(18);
        font-family: "Lora", serif;
        font-weight: 700;
        font-style: italic;
        margin-bottom: 2em;
    }
}

nav.slidenav {
    width: 100%;
}
/*---------------------------------------------------------------
MENU PRINCIPAL / TOP-BAR
---------------------------------------------------------------*/

.top-bar,
.top-bar ul,
.top-bar li,
.top-bar-left,
.top-bar-right {
    background-color: #fff;
    height: 50px;
}

nav#site-navigation {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.top-bar .menu a:hover:not(.button) {
    background-color: #fff;
}

#masthead {
    padding-bottom: 6px;
    padding-top: 7px;
}

.top-bar {
    padding: 0;
    li {
        background-color: #fff;
        height: auto;
        padding: 0px 3px;
    }
    .menu a {
        padding: 0;
        text-align: center;
        padding: 20px 10px 20px 10px!important;
        letter-spacing: .5px;
        display: block;
        height: auto;
        font-family: $body-font-family;
        font-weight: 400;
        text-transform: uppercase;
        font-size: rem-calc(16);
        color: #000;
        transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
    }
    .menu a:hover {
        box-shadow: inset 0px 5px 0px 0px #e52713;
    }
    li.active {
        box-shadow: inset 0px 5px 0px 0px #e52713;
    }
    ul li ul li.active {
        box-shadow: none;
    }
    ul li ul li {
        background-color: #ededed;
        padding: 0;
    }
    ul li ul li a:hover {
        box-shadow: inset 5px 0px 0px 0px #e52713!important;
    }
}

.top-bar-section .dropdown {
    li {
        height: auto;
    }
}

// * * * * * * * * * * * * * Logo * * * * * * * * * * * * * 
.top-bar-left {
    position: relative;
    .logo img {
        position: absolute;
        top: 5px;
        left: 0;
    }
    a:hover {
        box-shadow: none!important;
    }
    div.indent {
        text-indent: -8000px;
        height: 0px
    }
    width: 275px;
}

// * * * * * * * * * * * END - Logo * * * * * * * * * * * *
/*---------------------------------------------------------------
MENU SECONDAIRE / TOUCHSCROLLER
---------------------------------------------------------------*/

#touchscroller {
    text-transform: uppercase;

    a {
        color: #989898;
    }
    ul li{
    list-style: none;
        font-weight: 700;
        }
    ul li ul li {
        padding-left: 15px;
        font-style: italic;
        font-weight: 400;
    }
    ul li ul li a:hover {
        transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
    }
    
     ul li ul li a:hover {
        color: $rouge-asco;
    }
}