    // Styles propres à ASCOMETAL
    /*---------------------------------------------------------------
REGLAGES GLOBAUX / GLOBAL SETTINGS
---------------------------------------------------------------*/
    
    // * * * * * * * * * * helper-class * * * * * * * * * * 
    .pad-0 {
        padding: 0;
    }
    
    .marg-0 {
        margin: 0;
    }
    
    // * * * * * * * * * * Couleurs des marchés * * * * * * * * * * 
    $automobile: #99be51;
    $automobileAlpha: rgba(153, 190, 81, 0.7);
    $roulement: #f28e00;
    $roulementAlpha: rgba(242, 142, 0, 0.7);
    $mecanique: #ae3e28;
    $mecaniqueAlpha: rgba(174, 62, 40, 0.7);
    $petrole: #03888e;
    $petroleAlpha: rgba(3, 136, 142, 0.7);
    $asco: #e52713;
    $ascoAlpha: rgba(229, 39, 19, 0.7);
    $gris-fonce-asco: #5e5e5e;
    $gris-asco: #989898;
    // * * * * * * * * * END Couleurs des marchés * * * * * * * * *
    #global-container {
        max-width: 80em !important;
        overflow: hidden;
        margin: auto;
    }
    
    // * * * * * * * * * * * * * page.php * * * * * * * * * * * * * 
    #global-container {
        max-width: 80em !important;
        overflow: hidden;
        margin: 0 auto;
    }
    
    #page,
    #single-post {
        margin-top: 0;
        background: #fafafa;
    }
    
    // * * * * * * * * * * * * * END page.php * * * * * * * * * * *
    .indent {
        text-indent: -8000px;
        height: 0px;
        margin: 0;
    }
    
    .shadow {
        background: #f5f5f5;
        padding: 30px 30px 0px 30px;
        box-shadow: inset 14px 0px 30px -10px rgba(143, 143, 143, 0.2);
    }
    /*---------------------------------------------------------------
MARCHES HOME (présentation + effets au survol) 
---------------------------------------------------------------*/
    
    article.rolling {
        padding-bottom: 20px;
    }
    
    #markets {
        overflow: auto;
    }
    
    .ih-item {
        -webkit-box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        position: relative;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }
    
    .ih-item,
    .ih-item * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .ih-item a {
        color: #333;
    }
    
    .ih-item a:hover {
        text-decoration: none;
    }
    
    .ih-item.square {
        position: relative;
    }
    
    .ih-item.square .info {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .ih-item.square.effect13 {
        overflow: hidden;
    }
    
    .ih-item.square.effect13.colored .info {
        background: rgba(26, 74, 114, 0.6);
    }
    
    .ih-item.square.effect13.colored .info h3 {
        background: rgba(12, 34, 52, 0.6);
    }
    
    .ih-item.square.effect13 .img {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    
    .ih-item.square.effect13 .info {
        background: #333333;
        background: rgba(0, 0, 0, 0.6);
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }
    
    article.automobile .ih-item.square.effect13 .info {
        background: $automobileAlpha;
    }
    
    article.roulement .ih-item.square.effect13 .info {
        background: $roulementAlpha;
    }
    
    article.petrole .ih-item.square.effect13 .info {
        background: $petroleAlpha;
    }
    
    article.mecanique .ih-item.square.effect13 .info {
        background: $mecaniqueAlpha;
    }
    
    article.corporate .ih-item.square.effect13 .info {
        background: $ascoAlpha;
    }
    
    .ih-item.square.effect13 .mec {
        background: rgba(174, 62, 40, 0.75);
    }
    
    .ih-item.square.effect13 .rol {
        background: rgba(242, 142, 0, 0.75);
    }
    
    .ih-item.square.effect13 .aut {
        background: rgba(153, 190, 81, 0.75);
    }
    
    .ih-item.square.effect13 .pet {
        background: rgba(3, 136, 142, 0.75);
    }
    
    .ih-item.square.effect13 .asco {
        background: rgba(255, 255, 255, 0.3);
    }
    
    .ih-item.square.effect13 .info h3 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.75rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        line-height: rem-calc(35);
        margin-top: rem-calc(15)
    }
    
    #about {
        padding-bottom: 30px;
        overflow: auto;
        .ih-item.square.effect13 .info {
            p {
                color: $gris-fonce-asco;
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
            h3 {
                color: $asco;
            }
        }
    }
    
    .ih-item.square.effect13 .info p {
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: rem-calc(24);
        color: #fff;
        padding: 15px 20px;
        text-align: center;
    }
    
    .ih-item.square.effect13 a:hover .img {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    .ih-item.square.effect13 a:hover .info {
        visibility: visible;
        opacity: 1;
    }
    
    .ih-item.square.effect13.top_to_bottom .info {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    
    .ih-item.square.effect13.top_to_bottom a:hover .info {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    .ih-item.square.effect13.top_to_bottom a h3.title-auto,
    .ih-item.square.effect13.top_to_bottom a h3.title-rolling,
    .ih-item.square.effect13.top_to_bottom a h3.title-mechanical,
    .ih-item.square.effect13.top_to_bottom a h3.title-petrol,
    .ih-item.square.effect13.top_to_bottom a h3.title-asco {
        text-transform: uppercase;
        font-size: rem-calc(28);
        width: 100%;
        line-height: rem-calc(35);
        position: absolute;
        text-align: center;
        font-weight: 700;
        z-index: 100;
        color: #fff;
        padding-top: rem-calc(15);
        min-height: rem-calc(100);
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    
    .ih-item.square.effect13.top_to_bottom a h3.title-asco {
        color: $asco;
    }
    
    .title-auto {
        background-color: rgba(153, 190, 81, 0.7);
    }
    
    .title-rolling {
        background-color: rgba(242, 142, 0, 0.7);
    }
    
    article.automobile .title-rolling {
        background-color: $automobileAlpha;
    }
    
    article.roulement .title-rolling {
        background-color: $roulementAlpha;
    }
    
    article.petrole .title-rolling {
        background-color: $petroleAlpha;
    }
    
    article.mecanique .title-rolling {
        background-color: $mecaniqueAlpha;
    }
    
    article.corporate .title-rolling {
        background-color: $ascoAlpha;
    }
    
    .title-mechanical {
        background-color: rgba(174, 62, 40, 0.7);
    }
    
    .title-petrol {
        background-color: rgba(3, 136, 142, 0.7);
    }
    
    .title-asco {
        background-color: rgba(255, 255, 255, 0.7);
    }
    
    .ih-item.square.effect13.top_to_bottom a:hover h3.title-auto,
    .ih-item.square.effect13.top_to_bottom a:hover h3.title-rolling,
    .ih-item.square.effect13.top_to_bottom a:hover h3.title-mechanical,
    .ih-item.square.effect13.top_to_bottom a:hover h3.title-petrol,
    .ih-item.square.effect13.top_to_bottom a:hover h3.title-asco {
        opacity: 0;
    }
    
    .info img {
        margin: 0 auto 0px auto;
        padding-bottom: 0;
    }
    
    #about article .ih-item.square.effect13 .info p.seemore {
        text-transform: uppercase;
        font-size: rem-calc(24);
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
    }
    
    #markets {
        padding: 30px 0px 0px 0px;
        article {
            margin-bottom: 30px;
        }
    }
    
    @media screen and (max-width: 1280px) {
        .ih-item.square.effect13 .info {
            img {
                width: 20%;
                margin: 0 auto 10px auto;
            }
            p {
                font-size: 15px;
                line-height: 19px;
                padding: 0px 15px;
                margin-bottom: 10px;
            }
        }
        article.auto .ih-item.square.effect13 .info p {
            padding: 0px 15px;
            margin-bottom: 10px;
        }
    }
    
    @media screen and (max-width: 1024px) {
        .ih-item.square.effect13 .info {
            img {
                margin: 25px auto 40px auto;
            }
            p {
                font-size: 18px;
                line-height: 28px;
                padding: 0px 30px;
                margin-bottom: 10px;
            }
        }
    }
    
    @media screen and (min-width: 640px) and (max-width: 740px) {
        .ih-item.square.effect13 .info img {
            margin: 0px auto 10px auto;
        }
    }
    
    @media screen and (max-width: 640px) {
        #markets {
            padding: 25px 0px 0px 0px;
        }
        article.ascometal .ih-item.square.effect13 .info img {
            width: 10%;
            margin: 10px auto 10px auto;
        }
    }
    
    @media screen and (max-width: 500px) {
        article.ascometal .ih-item.square.effect13 .info p {
            line-height: 20px;
        }
        #about .ih-item.square.effect13 .info p {
            width: 100%;
        }
    }
    
    @media screen and (max-width: 400px) {
        .ih-item.square.effect13 .info img {
            margin: 10px auto 10px auto;
        }
        article.ascometal .ih-item.square.effect13 .info img {
            display: none;
        }
    }
    /*---------------------------------------------------------------
MARCHES / NOUVEAUX PRODUITS
---------------------------------------------------------------*/
    
    .produits #main-container {
        padding: 30px 50px;
    }
    
    .produits .market-color {
        color: $automobile !important;
    }
    
    .produits .product-view {
        position: relative;
        img {
            -webkit-box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
            -moz-box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
            box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
            -webkit-transition: all 0.35s ease-in-out;
            -moz-transition: all 0.35s ease-in-out;
            transition: all 0.35s ease-in-out;
        }
        ul.product-menu {
            padding-top: 30px;
            width: rem-calc(75);
            position: absolute;
            right: -37.5px;
            top: 0;
            vertical-align: middle;
            display: block;
            li.product-icon {
                display: block;
                width: 100%;
            }
        }
    }
    
    .features,
    .advantage,
    .benefits {
        width: 75px;
        height: 75px;
        margin: auto auto;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        border-radius: 150px;
        -webkit-box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        transition: all 0.2s ease-out;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        -o-transition: all 0.2s ease-out;
    }
    
    .benefits-info,
    .advantage-info,
    .features-info {
        width: 75px;
        height: 75px;
        margin: 30px auto;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        border-radius: 150px;
        -webkit-box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        -moz-box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
    }
    
    .short-description {
        text-align: center;
    }
    
    .description {
        margin-top: 20px;
    }
    
    .features {
        background-image: url('../images/features.svg');
        margin-bottom: 15px;
        &:hover {
            background-image: url('../images/features-over.svg');
            cursor: pointer;
        }
    }
    
    .advantage {
        background-image: url('../images/advantage.svg');
        margin: 15px auto;
        &:hover {
            background-image: url('../images/advantage-over.svg');
            cursor: pointer;
        }
    }
    
    .benefits {
        background-image: url('../images/benefits.svg');
        margin-top: 15px;
        &:hover {
            background-image: url('../images/benefits-over.svg');
            cursor: pointer;
        }
    }
    
    .features-info {
        background-image: url('../images/features-over.svg');
    }
    
    .advantage-info {
        background-image: url('../images/advantage-over.svg');
    }
    
    .benefits-info {
        background-image: url('../images/benefits-over.svg');
    }
    
    div.features {
        width: 75px;
        margin: 15px auto 0px auto;
    }
    
    .alert-box {
        background-color: #fff;
        padding: 30px;
        margin-left: 60px;
        font-family: "Lora", serif;
        text-align: center;
        h3 {
            font-family: "Lora", serif;
        }
    }
    
    .features-alert h3 {
        display: block !important;
    }
    
    .documentation {
        background-color: #fff;
        margin-top: 30px;
        margin-left: 60px;
        float: right;
        padding-top: 10px;
        .picto {
            background-image: url('../images/documentation.svg');
            width: 65px;
            height: 75px;
            margin-left: 15px;
            display: inline-block;
            background-repeat: no-repeat;
            top: 0;
            left: 0;
        }
        .infos {
            color: $gris-fonce-asco;
            width: 70%;
            display: inline-block;
            padding-left: 20px;
            p.title {
                color: $gris-fonce-asco;
                margin-bottom: 0;
                font-weight: 700;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
            }
        }
    }
    
    .documentation:hover p.title {
        color: $asco;
    }
    
    @media screen and (max-width: 750px) {
        .documentation {
            margin-left: 15px;
        }
        .produits #main-container {
            padding: 30px 15px;
        }
        .alert-box {
            background-color: #fff;
            padding: 30px;
            margin-left: 15px;
        }
        .produits .product-view ul.product-menu {
            padding: 0;
            padding-top: 10px;
            width: 100%;
            margin: auto;
            position: relative;
            top: -50px;
            left: 0;
            display: block;
            li.product-icon {
                &:first-child {
                    margin-left: 10px;
                }
                display: inline-block;
                height: 75px;
                width: 75px;
                margin: 0 3px;
                padding: 0;
            }
        }
    }
    
    @media screen and (max-width: 640px) {
        .alert-box {
            margin-left: 0;
        }
        .documentation {
            width: 100%;
        }
    }
    /*---------------------------------------------------------------
IMAGE D'ENTETE / HEADER-IMAGE
---------------------------------------------------------------*/
    
    header.header-image {
        position: relative;
        #featured-hero {
            max-width: 1280px;
            max-height: 225px;
            min-height: 225px;
            overflow: hidden;
            margin: 0 -15px;
            border-top: solid 2px #b5bf1e;
            background-color: #ccc;
        }
        h1 {
            position: absolute;
            line-height: 55px;
            left: 0px;
            top: 100px;
            color: #f9f9f9;
            text-transform: uppercase;
            font-size: rem-calc(57);
            padding-left: 20px;
        }
    }
    /*---------------------------------------------------------------
BREADCRUMBS
---------------------------------------------------------------*/
    
    .breadcrumbs {
        padding: 23px 25px 0px 37px;
        color: #DDD;
        line-height: rem-calc(17);
        font-size: rem-calc(15);
        max-height: rem-calc(75);
        a {
            color: #FFF;
        }
        .bc_home_icon {
            margin-right: 10px;
            margin-top: -5px;
        }
    }
    /*---------------------------------------------------------------
CONTENU DE SAISIE / MAIN-CONTAINER
---------------------------------------------------------------*/
    
    article > h1 {
        text-transform: uppercase;
        padding-left: 33px;
        font-size: rem-calc(36);
        color: $asco;
        padding-top: rem-calc(30);
    }
    
    article.automobile > h1 {
        color: $automobile;
    }
    
    article.roulement > h1 {
        color: $roulement;
    }
    
    article.petrole > h1 {
        color: $petrole;
    }
    
    article.mecanique > h1 {
        color: $mecanique;
    }
    
    #main-container,
    .main-content {
        background: #f5f5f5;
        padding: 30px 15px 30px 50px;
        -webkit-box-shadow: inset 14px 0px 30px -10px rgba(143, 143, 143, 0.2);
        -moz-box-shadow: inset 14px 0px 30px -10px rgba(143, 143, 143, 0.2);
        box-shadow: inset 14px 0px 30px -10px rgba(143, 143, 143, 0.2);
        p a {
            text-decoration: underline;
            color: inherit;
            font-weight: 700;
            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
        }
        p a:hover {
            color: black;
        }
        h2 {
            color: $gris-fonce-asco;
            text-transform: uppercase;
            font-size: rem-calc(36);
            padding-bottom: 15px;
            border-bottom: 2px solid $gris-asco;
            font-weight: 600;
            margin-bottom: .7em;
        }
        h3 {
            text-transform: uppercase;
            display: inline-block;
            font-size: rem-calc(24);
            font-weight: 600;
            padding-bottom: 7px;
        }
        h4 {
            color: $asco;
            font-size: rem-calc(18);
            font-family: "Lora", serif;
            font-weight: 700;
            font-style: italic;
            margin-bottom: 2em;
            a {
                text-decoration: underline;
                color: $asco;
                transition: all 0.2s ease-out;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
            }
            a:hover {
                color: #8d0d00;
            }
        }
        ul li {
            list-style-image: url('../images/dot.svg');
        }
        blockquote {
            font-family: "Lora", serif;
            font-weight: 700;
            font-style: italic;
            border-left: 5px solid $automobile;
            strong {
                color: $automobile;
            }
        }
        .bouton-lien {
            background-color: #fff;
            -webkit-box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.15);
            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            a {
                text-decoration: none;
                font-weight: 400;
            }
            strong {
                text-transform: uppercase;
            }
        }
        .bouton-lien:hover {
            -webkit-box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.3);
        }
    }
    
    nav.slidenav {
        width: 100%;
    }
    /*---------------------------------------------------------------
MENU PRINCIPAL / TOP-BAR
---------------------------------------------------------------*/
    
    .top-bar,
    .top-bar ul,
    .top-bar li,
    .top-bar-left,
    .top-bar-right {
        background-color: #fff;
        height: 50px;
        z-index: 200;
    }
    
    nav#site-navigation {
        max-width: 80rem;
        margin-left: auto;
        margin-right: auto;
    }
    
    .top-bar .menu a:hover:not(.button) {
        background-color: #fff;
    }
    
    #masthead {
        padding-bottom: 6px;
        padding-top: 7px;
    }
    
    .top-bar {
        padding: 0;
        li {
            background-color: #fff;
            height: auto;
            padding: 0px 3px;
        }
        .menu a {
            padding: 0;
            text-align: center;
            padding: 20px 10px 20px 10px!important;
            letter-spacing: .5px;
            display: block;
            height: auto;
            font-family: $body-font-family;
            font-weight: 400;
            text-transform: uppercase;
            font-size: rem-calc(16);
            color: #000;
            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
        }
        .menu a:hover {
            box-shadow: inset 0px 5px 0px 0px $asco;
        }
        li.active {
            box-shadow: inset 0px 5px 0px 0px $asco;
        }
        ul li ul li.active {
            box-shadow: none;
        }
        ul li ul li {
            background-color: #ededed;
            padding: 0;
        }
        ul li ul li a:hover {
            box-shadow: inset 5px 0px 0px 0px $asco!important;
        }
        .dropdown.menu .submenu {
            height: auto;
            -webkit-box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 7px 29px 0px rgba(0, 0, 0, 0.15);
        }
    }
    
    .top-bar-section .dropdown {
        li {
            height: auto;
        }
    }
    
    //items du menu ferrés à droite
    .dropdown.menu:not(.vertical) .is-dropdown-submenu.first-sub {
        left: auto;
        right: 0;
    }
    
    li .active > a {
        color: $asco !important;
    }
    
    .top-bar li .active > a {
        background-color: #f8f8f8;
        box-shadow: inset 5px 0px 0px 0px $asco;
    }
    
    // * * * * * * * * * * * * * Logo * * * * * * * * * * * * * 
    .top-bar-left {
        position: relative;
        .logo img {
            width: 70%;
            position: absolute;
            top: 0;
            left: 30px;
        }
        a:hover {
            box-shadow: none!important;
        }
        width: 260px;
    }
    
    @media screen and (max-width: 1024px) {
        #mobile-menu,
        .title-bar {
            display: block !important;
            background-color: #D6D6D6;
        }
        .menu-icon.dark:hover::after {
            background: #E42618;
            box-shadow: 0 7px 0 #E42618, 0 14px 0 #E42618;
        }
    }
    
    .title-bar-title img {
        width: 60%;
        padding-left: 5px;
    }
    
    .top-bar {
        .menu a {
            letter-spacing: 0;
        }
    }
    
    @media screen and (max-width: 1024px) {
        #main-container .top-bar,
        .top-bar ul,
        .top-bar li,
        .top-bar-left,
        .top-bar-right {
            height: auto;
            width: 100%;
        }
        #menu-menu-principal {
            display: none;
        }
        .top-bar-left {
            display: none;
        }
        #masthead {
            padding-bottom: 0;
        }
        .menu.vertical > li {
            border-bottom: 1px solid #bebebe;
        }
        .menu.nested,
        .vertical {
            margin-left: 0!important;
        }
    }
    
    @media screen and (max-width: 750px) {
        header.header-image h1 {
            line-height: 50px;
            top: 40%;
            font-size: 50px;
            padding: 0 20px;
        }
    }
    
    @media screen and (max-width: 640px) {
        #main-container .top-bar,
        .top-bar ul,
        .top-bar li,
        .top-bar-left,
        .top-bar-right {
            height: auto;
        }
        header.header-image h1 {
            line-height: 40px;
            top: 40%;
            font-size: 40px;
        }
    }
    
    @media screen and (max-width: 470px) {
        header.header-image h1 {
            line-height: 35px;
            top: 40%;
            font-size: 30px;
            padding: 0 20px;
        }
    }
    
    @media screen and (max-width: 350px) {
        .title-bar-title {
            width: 80%;
        }
    }
    /*---------------------------------------------------------------
MENU LANGUES / RECHERCHE / CONNEXION / CONTACT DIRECT
---------------------------------------------------------------*/
    
    #navtools nav {
        //    height: 50px;
        text-align: right;
        overflow: auto;
        ul {
            margin-bottom: 5px;
            li {
                display: inline-block;
                margin: 0px 10px;
                ul li {
                    margin: 5px;
                }
                &:first-child {
                    margin-left: 0;
                }
                &:nth-child(4) {
                    margin-right: 0;
                }
            }
        }
        #searchsubmit,
        #s {
            font-family: $body-font-family;
            font-weight: 700;
            margin: 0;
        }
        input[type='text'] {
            width: 300px;
            height: 40px;
        }
    }
    
    #searchform [type='submit'] {
        background-color: $automobile;
        letter-spacing: 0.8px;
        width: 150px;
    }
    
    .offsearch {
        float: right;
        height: 0;
        overflow: hidden;
        margin: 10px 0px;
        opacity: 0;
        transition: all 200ms ease;
    }
    
    .onsearch {
        height: 40px;
        opacity: 1;
    }
    
    .offcall {
        opacity: 0;
        position: relative;
        transition: all 200ms ease;
        height: 35px;
    }
    
    .oncall {
        opacity: 1;
    }
    
    #navtools span {
        font-size: 1.2em;
        position: absolute;
        top: 17px;
        left: -150px;
    }
    /* header dropdown menu des langues*/
    
    #navtools nav {
        overflow: visible;
    }
    
    #navtools #lang_sel li {
        float: left;
        width: 40px;
    }
    
    #navtools #lang_sel ul ul {
        width: auto;
    }
    /* memo : ! effacer les modifications d'opacité (donc l'animation) si soucis sur mobiles ! */
    
    #lang_sel ul ul {
        width: auto;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }
    
    #lang_sel ul li:hover ul,
    #lang_sel ul a:hover ul {
        visibility: visible;
        opacity: 1;
    }
    
    #navtools #lang_sel ul li {
        /*display:block;
	float:none;*/
        display: inline-block;
        float: left;
    }
    
    #navtools #lang_sel ul:first-child {
        margin-top: 15px !important;
        li:first-child {
            width: 60px !important;
        }
    }
    
    #navtools #lang_sel ul ul {
        width: 210px;
        position: relative;
        left: -44px;
        top: 5px;
    }
    
    #navtools #lang_sel li a.icl-fr img,
    #navtools #lang_sel li.icl-fr a img {
        content: url('../images/france-flag.svg');
    }
    
    #navtools #lang_sel li.icl-en a img,
    #navtools #lang_sel li a.icl-en img {
        content: url('../images/greatbritain-flag.svg');
    }
    
    #navtools #lang_sel li.icl-de a img,
    #navtools #lang_sel li a.icl-de img {
        content: url('../images/germany-flag.svg');
    }
    
    #navtools #lang_sel li.icl-it a img,
    #navtools #lang_sel li a.icl-it img {
        content: url('../images/italy-flag.svg');
    }
    
    #navtools #lang_sel ul li img.iclflag {
        width: 24px;
        height: auto;
        position: relative;
        top: 0;
        left: -10px;
    }
    
    #navtools #lang_sel ul li:first-child img.iclflag {
        left: -11px;
    }
    
    #navtools #lang_sel ul ul a {
        padding: 5px 0px;
    }
    /* fin menu des langues */
    
    #navtools #lang_sel li a.icl-fr img,
    #navtools #lang_sel li.icl-fr a img {
        content: url('../images/france-flag.svg');
    }
    
    #navtools #lang_sel li.icl-en a img,
    #navtools #lang_sel li a.icl-en img {
        content: url('../images/greatbritain-flag.svg');
    }
    
    #navtools #lang_sel li.icl-de a img,
    #navtools #lang_sel li a.icl-de img {
        content: url('../images/germany-flag.svg');
    }
    
    #navtools #lang_sel li.icl-it a img,
    #navtools #lang_sel li a.icl-it img {
        content: url('../images/italy-flag.svg');
    }
    
    #navtools #lang_sel ul li img.iclflag {
        width: 24px;
        height: auto;
        position: relative;
        top: 0;
        left: -10px;
    }
    
    #navtools #lang_sel ul li:first-child img.iclflag {
        left: -11px;
    }
    
    #navtools #lang_sel ul ul a {
        padding: 5px 0px;
    }
    /* fin menu des langues */
    
    @media screen and (max-width: 470px) {
        #searchform [type='submit'] {
            width: auto;
        }
    }
    /*---------------------------------------------------------------
MENU SECONDAIRE GAUCHE / TOUCHSCROLLER
---------------------------------------------------------------*/
    
    #touchscroller {
        text-transform: uppercase;
        padding-top: 28px;
        a {
            color: $gris-asco;
        }
        ul li {
            list-style: none;
            font-weight: 700;
            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
        }
        li:hover {
            padding-left: 10px;
        }
        ul li ul li {
            padding-left: 15px;
            font-style: normal;
            font-weight: 700;
        }
        ul li ul li ul li {
            padding-left: 15px;
            font-style: italic;
            font-weight: 400;
            line-height: 16px;
            padding-bottom: 8px;
        }
        ul li ul li:hover {
            padding-left: 15px;
        }
        li.asco .active > a:first-child {
            color: $asco;
        }
        li.asco ul li a {
            color: $gris-asco;
        }
        ul li ul li ul li a:hover {
            transition: all 0.2s ease-out;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
        }
        ul li ul li a:hover {
            color: $rouge-asco;
        }
        li.asco a,
        li.automobile a,
        li.roulement a,
        li.petrole a,
        li.mecanique a {
            padding-left: 50px;
            background-repeat: no-repeat;
            margin-bottom: rem-calc(20px);
            margin-top: rem-calc(10px);
        }
        li.automobile a {
            color: $automobile;
            background-image: url('../images/automobile-icone.svg');
        }
        li.petrole a {
            color: $petrole;
            background-image: url('../images/petrol-icone.svg');
        }
        li.mecanique a {
            color: $mecanique;
            background-image: url('../images/mecanique-icone.svg');
        }
        li.roulement a {
            color: $roulement;
            background-image: url('../images/roulement-icone.svg');
        }
        li.asco a {
            color: $gris-fonce-asco;
            background-image: url('../images/ascomonogram.svg');
        }
        li.automobile ul li a,
        li.roulement ul li a,
        li.petrole ul li a,
        li.mecanique ul li a,
        li.asco ul li a {
            background-image: none;
            padding-left: 0px;
            color: $gris-asco;
        }
        li.automobile ul,
        li.roulement ul,
        li.petrole ul,
        li.mecanique ul {
            margin-bottom: -15px;
        }
        li.asco ul.sub-menu {
            margin-top: -15px;
        }
        li.asco ul.sub-menu ul {
            margin-top: 0px;
        }
        li.automobile li,
        li.roulement li,
        li.petrole li,
        li.mecanique li,
        li.asco li {
            padding-left: 0;
        }
        li.automobile ul,
        li.roulement ul,
        li.petrole ul,
        li.mecanique ul,
        li.asco ul {
            margin-bottom: 20px;
            ;
        }
    }
    /*---------------------------------------------------------------
MENU GAUCHE / MASQUAGE sous rubriques non actuelles
---------------------------------------------------------------*/
    
    #touchscroller {
        .sub-menu {
            display: none;
        }
        .current-menu-ancestor.active .sub-menu {
            display: block;
        }
        .current-menu-ancestor.active li:not(.active) .sub-menu {
            display: none;
        }
    }
    
    @media screen and (max-width: 1024px) {
        #touchscroller {
            display: none;
        }
    }
    /*---------------------------------------------------------------
MENU FOOTER
---------------------------------------------------------------*/
    
    #footer-container {
        background-color: $gris-asco;
        margin-top: 0;
        text-align: center;
        padding: 15px 0px;
        border-top: solid 2px #b5bf1e;
    }
    
    #footernav {
        ul li {
            display: inline-block;
            list-style: none;
            border-left: solid 2px #dedede;
            padding: 0px 20px;
            a {
                color: #dedede;
                text-transform: uppercase;
                transition: all 0.2s ease-out;
                font-weight: 600;
                -webkit-transition: all 0.2s ease-out;
                -moz-transition: all 0.2s ease-out;
                -o-transition: all 0.2s ease-out;
            }
            a:hover {
                color: #fff;
            }
        }
        ul li:first-child {
            border: none;
            padding-left: 0;
        }
        ul li:last-child {
            padding-right: 0;
        }
    }
    
    @media screen and (max-width: 875px) {
        #footer-container {
            padding: 30px;
            #footer {
                text-align: center;
                padding: 0;
                #footernav {
                    ul li {
                        width: 100%;
                        border: none;
                        padding-bottom: 20px;
                        &:last-child {
                            padding-bottom: 0;
                            padding-left: 0;
                        }
                        &:first-child {
                            padding-left: 20px;
                        }
                    }
                }
            }
        }
    }
    /*---------------------------------------------------------------
WIDGET BOUTONS PERSO
---------------------------------------------------------------*/
    
    // * * * * * * * * * * * Bouton simple * * * * * * * * * * * *
    .button.simple-btn {
        display: inline-block;
        text-align: left;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 0;
        padding: 20px 25px;
        margin: 0 0 1rem 0;
        font-size: 0.9rem;
        background-color: #FFF;
        color: $gris-fonce-asco;
        transition: all .3s;
        line-height: rem-calc(18);
        .title {
            display: inline-block;
            font-weight: bold;
            font-size: 18px;
            text-transform: uppercase;
            transition: color .3s;
            padding-bottom: 10px;
        }
        .subtitle {}
    }
    
    .button.simple-btn:hover {
        .title {
            color: #FF0000;
        }
    }
    
    .button.long {
        width: 100%;
    }
    /*---------------------------------------------------------------
SECTION LOGOS - ils nous font confiance
---------------------------------------------------------------*/
    
    .lshowcase-logos {
        box-shadow: 0px 7px 28px -10px rgba(0, 0, 0, 0.44);
        background-color: #fff;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 30px!important;
        max-width: 100%!important;
        .bx-wrapper {
            max-width: 100%!important;
        }
    }
    /*---------------------------------------------------------------
PAGE LISTE D'ACTUALITES
---------------------------------------------------------------*/
    
    .category-actualites {
        background-color: #fff;
    }
    
    .article-preview {
        overflow: auto;
        background-color: #fff;
        padding: 20px;
        margin-bottom: 30px;
        .thumb,
        .infos {
            float: left;
        }
        time {
            color: $asco;
        }
        p {
            a.more-link {
                float: right;
                text-decoration: none;
                padding: 30px 0px 0px 0px;
                font-weight: 700;
            }
        }
        h2 {
            line-height: rem-calc(20);
            border: none;
            margin-bottom: rem-calc(20);
            a {
                font-size: rem-calc(18);
                font-family: "Lora", serif;
                text-transform: lowercase;
            }
        }
        h3,
        h4,
        h5,
        h6 {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 1rem;
        }
        .infos {
            padding: 0px rem-calc(15);
            float: left;
        }
        .thumb {
            padding-right: 15px;
            float: left;
            display: inline-block;
            height: auto;
            div {
                height: 190px;
                width: auto;
                background-size: cover;
            }
        }
    }
    
    @media screen and (max-width: 640px) {
        .article-preview .thumb {
            padding: 0;
        }
    }
    
    #single-post #main-container .entry-content li {
        list-style-image: url('../images/dot.svg');
    }