.so-widget-ink-accordion-accordion-f8453448b8a1 .accordion .accordion-navigation {
  margin-bottom: 12px;
}
.so-widget-ink-accordion-accordion-f8453448b8a1 .accordion .accordion-navigation a {
  background: #ffffff;
  color: #000000;
  padding-right: 3.5em;
}
.so-widget-ink-accordion-accordion-f8453448b8a1 .accordion .accordion-navigation a:hover {
  background: #ffffff;
  color: #000000;
}
.so-widget-ink-accordion-accordion-f8453448b8a1 .accordion .accordion-navigation a span {
  right: 10px;
}
.so-widget-ink-accordion-accordion-f8453448b8a1 .accordion .accordion-navigation a .iw-so-tgl-close {
  color: #0a0a0a;
}
.so-widget-ink-accordion-accordion-f8453448b8a1 .accordion .accordion-navigation a .iw-so-tgl-open {
  color: #000000;
}
.so-widget-ink-accordion-accordion-f8453448b8a1 .accordion .accordion-navigation .content {
  background: transparent;
}